.stat {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 22px;
}
.chart {
    display: flex;
    justify-content: space-between;
}

.date-picker-button {
    width: 100%;
}