.task {
    padding: 16px;
    color: white;
    background-color: #282c34;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
}

.task-edit-input {
    width: 100%;
}

.task-title {
    width: 100%;
    cursor: url(../pencil.png), auto;
}

.task-date {
    white-space: nowrap;
    color: #b4b0b0;
    font-size: small;
}

.task-date-time {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-end;
}

.task-checkbox {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.task-checkbox+label {
    display: flex;
    width: 32px;
}

.task-checkbox+label::before {
    background-color: #a6a6a6;
    content: '';
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.task-checkbox:checked+label::before {
    background-color: #e91e63;
    cursor: pointer;
}

.task-checkbox:not(:disabled):active+label::before {
    background-color: #ffffff;
}






