.timer {
    color: white;
    display: flex;
    column-gap: 16px;
    font-size: 20px;
    align-items: center;
    background-color: #282c34;
    padding: 16px;
    height: 42px;
}

.counter {
    width: 100px;
}

.timer-input {
    width: 100px;
}

.goal-time {
    cursor: url(../pencil.png), auto;
    border: 2px solid snow;
    padding: 12px 20px;
}

.goal-time:hover {
    border-color: #e91e63;

}