.main {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.title {
    color: white;
    font-size: 25px;
    display: flex;
    column-gap: 15px;
}

.rotated-sort-icon {
    transform: rotateX(180deg);
}

.adding {
    display: flex;
    column-gap: 16px;
    padding: 16px;
    background-color: #282c34;
}

.text-input {
    width: 100%;
}

input:focus {
    outline: none;
}