.tasks {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.adding {
    display: flex;
    column-gap: 16px;
    padding: 16px;
    background-color: #282c34;
}

.text-input {
    width: 100%;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 20px;
    background-color: #3d3d3d;
}



button {
    color: white;
    background-color: #670221;
    padding: 8px 40px;
    font-size: 20px;
    cursor: pointer;
}

button:disabled {
    color: gray;
    background-color: #282c34;
}

input:focus {
    outline: none;
}